{% extends "mainTemplate.html" %}
{% block title %}
    Your cart page
{% endblock %}
{% block body_block %}
    {% if not order %}
        Your cart is empty. Please, go to <a href="{% url 'catalog' %}">catalog</a> and add some
    {% else %}
        <h1>Goods in your cart</h1>
    {% endif %}
    <table width="920" border="0" cellspacing="0" cellpadding="0">
        {% for item in order.items.all %}
            <p>{{ item.name }}</p>
        {% endfor %}
    </table>
    <table name="cart">
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}